/*-- scss:defaults --*/
$primary:  #06436e !default;
$font-family-base:  'Lato',  'Lato', 'Lato', 'Lato', 'Lato' !default;
$body-color: #495057 !default;
$headings-font-family:  'Lato', 'Lato', 'Lato', 'Lato'    !default;
/*-- $font-family-base:  'Source Sans Pro',  'Lato', 'Merriweather', 'Roboto Regular', 'Cabin Regular' !default; --*/
/*-- $headings-font-family:  'Prata', 'Roboto', 'Playfair Display', 'Montserrat'    !default; --*/

/*-- scss:rules --*/
.nav-item .nav-link active .menu-text {
  font-family: "Oleo Script", "Libre Baskerville", $headings-font-family;
  font-size: $font-size-base * 2.5;
}

.column .p {
  height: 25%;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}

img {
  vertical-align:bottom;
  margin: 0px;
  padding: 0px;
}

// The grid height
$grid-template-row: 55px !default;

$grid-auto-rows: minmax(55px, auto);

//.g-col-9 {
//  height: 55px;
//}

//.g-col-3 {
//  height: 55px;
//}

